:root {
    --primary-color: lightgreen;
  }
  
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left !important;
    font-weight: bold;
    font-size: large;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    padding: 0px 10px;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #EEE;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #000;
  }
  
  /* Form */
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .form-step {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .form-step-active {
    display: block;
    opacity: 1;
  }
  
  .slide-in-right {
    animation: slideInFromRight 1s forwards;
  }
  
  .slide-in-left {
    animation: slideInFromLeft 1s forwards;
  }
  
  form {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #AAA;
    border-radius: 0.35rem;
    padding: 1.5rem;
    overflow: hidden;
    min-height: 50vh;
    /* height: 650px; */
    display: flex;
    flex-direction: column;
  }

  #registrationForm input[type="text"],
  #registrationForm input[type="email"],
  #registrationForm input[type="password"],
  #registrationForm input[list] {
    width: 70% !important;
  }
  
  #loginForm input[type="text"],
  #loginForm input[type="password"] {
    width: 100% !important;
  }

  input[type="text"], input[type="email"], input[type="password"], input[list] {    
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
  }

  input[type="checkbox"] {
    display: block;
    padding: 1rem;
  }

  button.btn-next, button.btn-prev, button[type="submit"] {
    margin-top: 20px;
  }